body {
  background-color: grey;
}
.container {
  background-color: white;
}
.form-row {
  border: 1px solid black;
  padding: 10px 0;
  display: flex;
}

.form-row label {
  padding-right: 10px;
}
.form-row input {
  flex: 1px;
}
