body {
  padding: 10px;
  margin: 10px;
}
header {
  background: url("../images/flywheel.jpg") no-repeat;
  background-size: cover;
  height: 200px;
  padding: 20px;
}
header h1 {
  color: #ffffff;
  font-variant: small-caps;
  text-align: center;
  font-size: 30px;
}
nav a {
  display: inline-block;
  width: 18%;
  height: 60px;
  background-color: #b9b9b9;
  color: black;
  font-size: 20px;
  text-decoration: none;
  border-radius: 10px;
  text-align: center;
  margin: 3%;
  line-height: 55px;
  /* vertical-align: center; */
}
nav .active {
  background-color: #fff;
}
.right {
  display: block;
  width: 79%;
  float: right;
}
.left {
  display: inline-block;
  width: 20%;
  background: #777613;
}
.left img {
  padding-top: 16%;
  padding-left: 15%;
  display: inline-block;
  width: 70%;
  height: 30%;
  text-align: center;
}
h2 {
  color: black;
  font-size: 50px;
}
p {
  font-family: "Times New Roman";
  font-size: 20px;
}
table {
  border-spacing: 4px;
}

th,
td {
  margin: 19px;
  padding-bottom: 2px;
  height: 50px;
}

th {
  background: #92a555;
  border-radius: 5px 5px 0 0;
  min-width: 150px;
  color: #fff;
  border-bottom: 2px solid #b3e157;
}
td {
  background: #e4f5d4;
  font-weight: bold;
  color: #8e8e8e;
  opacity: 0.6;
}
tr:hover {
  opacity: 0.8;
}
td:nth-child(2),
td:nth-child(3) {
  text-align: center;
}

/* pretty good */
